---
layout: default1
title: Download File
permalink: /404.html
---



<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = 'Hide'; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = 'new posts'; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="new posts" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">
<div class="jontor" loading="lazy">
<script src="https://rawgit.com/rezamuhamad/rakinfo/master/sitemap.js"></script>
<script src="https://www.fazri.my.id/feeds/posts/default/?start-index=1&max-results=6666&amp;alt=json-in-script&amp;callback=rak_info_Load"></script>
</div></div></div></div></span>

  <div class="col-12 mb-4">
        
        <div class="row">
          {% for post in site.categories.brazil limit: 3 %}
          <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
            <div class="card">
           <a href="{{ post.url }}">   <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
           </a>
              <div class="card-body">
                <h5 class="card-title" style="max-width:100%;">{{ post.title }}</h5>
                <a href="{{ post.url }}" class="btn btn-primary">Read More
                        </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

<div class="col-12 mb-4">
        
        <div class="row">
          {% for post in site.categories.australia limit: 3 %}
          <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
            <div class="card">
           <a href="{{ post.url }}">   <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
           </a>
              <div class="card-body">
                <h5 class="card-title" style="max-width:100%;">{{ post.title }}</h5>
                <a href="{{ post.url }}" class="btn btn-primary">Read More
                        </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>


<div class="col-12 mb-4">
        
        <div class="row">
          {% for post in site.categories.canada limit: 3 %}
          <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
            <div class="card">
           <a href="{{ post.url }}">   <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
           </a>
              <div class="card-body">
                <h5 class="card-title" style="max-width:100%;">{{ post.title }}</h5>
                <a href="{{ post.url }}" class="btn btn-primary">Read More
                        </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>


      
